.counter{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid  #C2C2C2;
    background: #FFF;
    justify-content: space-around;
    align-items: center;
}


lightning-input {
    width: 80px;
}