/* productRedirectComponent.css */
.product-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff !important;
    width: 720px !important;
    height: 326px !important;
    text-align: left !important;
}


.Buy-Now-Button {
    background-color: rgb(170, 220, 51) !important;
    width: 220px !important;
    height: 51px !important;
    border-radius: 25px;
    border: none;
    font-family: Red Hat Display, sans-serif !important;
        font-weight: 700 !important;
    

}

.product-name{
    font-size: 30px;
}
.product-sku{
    font-size: 20px !important;
}

.product-description{
    font-size: 16px !important;
}