.hubble {
    width: 100%;
    max-width: 1200px; /* Increased max-width to allow for larger screens */
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}

.hubble-h4 {
    font-size: 1.5rem;
    color: #22e642;
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.jet-h4{
   color: #31ab46 !important;
   font-size: 1.5rem;
   font-weight: 800;
   margin-bottom: 1.5rem;
}

.close-h4 {
    font-size: 1rem;
    color: #08b4ca;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.accounting-h4{
    font-size: 1.2rem;
    color: hsl(194, 77%, 59%);
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.dataanalytics-h4{
    font-size: 1.2rem;
    color: #46217c;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.dataanalytics-h1{

    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #46217c;
}


.finance-h1 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
.hubble-h2 {
    font-size: 2.5rem;
    line-height: 1.2;
    margin-bottom: 1rem;
}
p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #666;
}

.input-wrapper {
    display: flex;
    align-items: center;
    width: 100%; /* Ensure the input-wrapper uses the full width */
    border: none; /* Add border to the wrapper */
    padding: 1.5remx; /* Maintain padding inside the wrapper */
    line-height: 40px; /* Set line-height to match button height */
  }

  .input-wrapper-atlas{
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure the input-wrapper uses the full width */
    border: none; /* Add border to the wrapper */
    padding: 1.5rem; /* Maintain padding inside the wrapper */
    line-height: 40px; /* Set line-height to match button height */
  }

  .input-wrapper-atlas input{
    flex: 1;
  font-size: 1rem;
  width: 80%; /* Ensure the input field takes up 80% of the width */
  height: 2.5rem;
  border: 1px solid rgb(226, 222, 222);
  }


.input-wrapper input {
  flex: 1;
  font-size: 1rem;
  width: 80%; /* Ensure the input field takes up 80% of the width */
  height: 2.5rem;
  border: 1px solid rgb(226, 222, 222);
}

.input-wrapper-atlas div{
    padding: 0.75rem;
}

.input-wrapper-atlas div .close-button{
    margin: 0.5rem;
    /* padding: 0.75rem; */
}

.finance-button {
    padding: 0 20px; /* Adjusted to remove vertical padding */
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 2.5rem; /* Set the height to match the input field */
}

.close-button {
    padding: 0 20px; /* Adjusted to remove vertical padding */
    font-size: 1rem;
    font-weight: 600;
    color: #fafbfc;
    background-color: #05b3ca;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 2.5rem; /* Set the height to match the input field */
}

.accounting-button{
    padding: 0 20px; /* Adjusted to remove vertical padding */
    font-size: 1rem;
    color: #fff;
    background-color:  #75bcff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 2.5rem; /* Set the height to match the input field */
}

.dataanalytics-button{

    padding: 0 20px; /* Adjusted to remove vertical padding */
    font-size: 1rem;
    color: #fff;
    background-color:  #46217c;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    height: 2.5rem; /* Set the height to match the input field */
}

.finance-button:hover {
    background-color: #218838;
}

.finance-button:active {
    background-color: #1e7e34;
}